.app {
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Align children in a column */
  min-height: 100vh; /* Ensure the app takes at least the full height of the viewport */
  width: 100%;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  background-image: none;
  background-color: #636363;
}

.spread-info, .spread-selector {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}