/* Modal overlay for background fade */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease; /* Transition for fade effect */
}

/* Modal fade-out effect */
.modal-overlay.fade-out {
    opacity: 0; /* Fade out to transparency */
    pointer-events: none; /* Prevent interaction during fade-out */
}

/* Modal content container */
.modal-content {
    background: #C5E1C5; /* Soft green or white background */
    width: 90%; /* Responsive width */
    max-width: 50vh; /* Maximum width */
    max-height: 90vh; /* Maximum height of modal */
    overflow-y: auto; /* Enable scrolling only when necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
    text-align: center;
    position: relative; /* Relative for close button positioning */
}

/* Scrollbar styles for WebKit browsers */
.modal-content::-webkit-scrollbar {
    width: 4px; /* Thin scrollbar width */
    height: 4px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 8px; /* Rounded scrollbar thumb */
}

.modal-content::-webkit-scrollbar-track {
    background: transparent; /* Transparent scrollbar track */
}

/* Close button */
.modal-close {
    position: absolute;
    top: 1px;
    right: -15px;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* Modal image */
.modal-content img {
    max-width: 50%;
    height: auto;
}

/* Action buttons */
.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Modal header styles */
.modal-header {
    margin-bottom: 20px;
}

.card-name {
    font-family: 'Fanwood Text', serif; 
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: .2rem;
    text-shadow: -0.3px 0, 0 0.3px, 0.3px 0, 0 -0.3px, -0.3px -0.3px, 0.3px 0.3px, -0.3px 0.3px, 0.3px -0.3px;
}

.art-style {
    font-size: 0.9em;
    font-style: italic;
    color: #666;
}

.emoji-style {
    font-size: 1em;
    color: black;
    letter-spacing: 0.4rem;
    font-weight: bold;
}