.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px; /* Match the width of your card */
}

.card {
  width: 100%; /* Take the full width of the container */
  transition:
    opacity 0.5s ease-in,
    transform 0.5s ease-in;
}

.position-meaning {
  font-size: 0.75em; /* Small text */
  color: #666; /* Subtle color */
  margin-top: 5px; /* Space between card and label */
  text-align: center;
  max-width: 100%; /* Never wider than the card */
  overflow: hidden;
  text-overflow: ellipsis; /* Ellipsis for long text */
  white-space: nowrap;
}
