.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.card {
  width: 100%;
  transition:
    opacity 0.5s ease-in,
    transform 0.5s ease-in;
}

.position-meaning {
  font-size: 0.75em;
  color: #666;
  margin-top: 5px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
