h1, h2, h3, p {
    color: white;
  }

  .home {
    margin: 20px;
    padding: 20px;
  }

  .home-header {
    font-family: 'Fanwood Text', serif; 
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: .2rem;
    text-shadow: -1px 0, 0 1px, 1px 0, 0 -1px, -1px -1px, 1px 1px, -1px 1px, 1px -1px;
  }
  
  .typewriter-effects {
    font-family: 'Fanwood Text', serif; 
    font-weight: normal;
    text-align: left;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }