.tarot-spreads-page {
  padding: 20px;
}

.spread-name {
  font-family: "Fanwood Text", serif;
  text-transform: uppercase;
}

.spread-description {
  font-family: "Fanwood Text", serif;
  font-weight: normal;
}

.spread-variations {
  font-family: "Fanwood Text", serif;
  color: black;
}
